<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/first.css">
</head>
<body>

    <section class="container-fluid bg" style="box-shadow: none;" >
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <form class="form-container" style="box-shadow: none; width: 320px; " action="/login" method="post">
                    <div>
                        <h3 style="color: #2F44F5; font-family: 'ModelicaExtraBold' ; font-size: 20px; padding-left: 20px ; " >
                            Welcome
                        </h3>
                    </div>
                    <div class="form-group" style="padding-top: 10px;">
                      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="e-mail" 
                      style="border-radius: 20px; background-color: #F5F5F5;border-color: #F5F5F5; font-family:'ModelicaRegular' ; font-size: 12px; padding-left: 22px ; " >
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control" id="password" placeholder="password" 
                      style="border-radius: 20px; background-color: #F5F5F5; border-color: #F5F5F5; font-family: 'ModelicaRegular'; font-size: 12px; padding-left: 22px ;" >
                      <a href="https://www.w3schools.com" style="font-family: 'ModelicaRegular'; font-size: 10px; padding-left: 22px ; color:#2F44F5 ;position: absolute;margin-top: 10px;" >forgot password?</a>
                    </div>
                    <div  style="padding-bottom: 40px; padding-top: -25px;" >
                        
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary btn-block" style="border-radius: 20px; background-color: #2F44F5 ; font-family: 'ModelicaExtraBold' ; font-size: 12px; " >Sign In</button>
                        <div>
                            <span>
                                <label style="font-family:'ModelicaRegular' ; font-size: 10px;padding-left: 22px ;" >already have an account ?</label>
                                <a href="https://www.w3schools.com"  style="font-family:'ModelicaBold' ; font-size: 10px; color: #2F44F5;" >Sign In</a>
                            </span>
                        </div>
                  </form>
            </section>
        </section>
    </section>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<%- include('../includes/end.ejs') %>
