<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage%></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" 
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%=oldInput.email%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%=oldInput.password%>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit"> Login </button>
        </form>
        <div class="centered">
            <a href="/reset">Reset password</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>


