<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/add-products" method="POST">
            <div class="form-control">
                <label for="productName">Product Name</label>
                <input type="text" name="productName" id="productName">
            </div>
            <div class="form-control">
                <label for="imageUrl">ImageUrl</label>
                <input type="text" name="imageUrl" id="imageUrl">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price">
            </div>
            <div class="form-control">
                <label for="description">Product description</label>
                <textarea name="description" id="description" cols="30" rows="5"></textarea>
            </div>
        <button type="submit">Add Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>