<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>MENAMPILKAN SEMUA PRODUCT YANG TELAH DI INPUT</h1>

<%- include('../includes/end.ejs') %>
