<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="main-header_item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <% if(isAuthenticated) { %>
            <li class="main-header_item">
                <a class="<%= path === '/add-brand' ? 'active' : '' %>" href="/add-brand">AddBrand</a>
            </li>
            <li class="main-header_item">
                <a class="<%= path === '/brand' ? 'active' : '' %>" href="/brand">Brand</a>
            </li>
            <li class="main-header_item">
                <a class="<%= path === '/add-product' ? 'active' : '' %>" href="/add-product">Seller Add Products</a>
            </li>
            <li class="main-header_item">
                <a class="<%= path === '/add-category' ? 'active' : '' %>" href="/add-category"> Add Category</a>
            </li>
                <!-- <li class="main-header_item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Admin Add-Product</a>
                </li>
                <li class="main-header_item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Product</a>
                </li> -->
            <% } %>
        </ul>
        <ul class="main-header_item-list">
            <% if(!isAuthenticated) { %>
                <li class="main-header_item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header_item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
                <% } else { %>
                <li class="main-header_item">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit"> Logout </button>
                    </form>
                </li>
            <% } %>
            </ul>
    </nav>
</header>