<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/add-Category" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="categoryName">Nama Category</label>
                <input type="text" name="categoryName" id="categoryName">
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button class="btn" type="submit">Add Category</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
