<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/add-Brand" method="POST" enctype="multipart/form-data">
            <div class="">
                <label for="brandName">Nama Brand</label>
                <input type="text" name="brandName" id="brandName">
            </div>
            <!-- <div class="form-control">
                <label for="brandImage">Image Brand</label>
                <input type="text" name="brandImage" id="brandImage">
            </div> -->
            <div class="">
                <label for="brandImage">Image Brand</label>
                <input 
                    type="file" 
                    name="images" 
                    id="images">
            </div>

            <div class="">
                <label for="brandBanner1">brandBanner1</label>
                <input 
                    type="file" 
                    name="brandImages" 
                    id="brandBanner1">
            </div>
            <div class="">
                <label for="brandBanner2">brandBanner2</label>
                <input 
                    type="file" 
                    name="brand" 
                    id="brandBanner2">
            </div>
            <div class="">
                <label for="brandBanner3">brandBanner3</label>
                <input 
                    type="file" 
                    name="brand" 
                    id="brandBanner3">
            </div>

            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button class="btn" type="submit">Add Brand</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
