<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (brands.length > 0) { %>
      <div class="grid"></div>
          <% for (let brand of brands) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= brand.brandName %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= brand.brandImage %>" alt="<%= brand.brandImage%>">
                </div>
                <div class="card__actions">
                    <!-- <a href="" class="btn">Edit</a> -->
                    <form action="/delete-brand" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" value="<%= brand._id%>" name="brandId" >
                        <button class="btn" type="submit">Delete</button>
                    </form>    
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>No Brand Found</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>