<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage%></div>
        <% } %>
        <form class="product-form" action="/<% if (editing) { %>edit-product <% } else { %>add-products <% } %>" method="POST" enctype="multipart/form-data">
            <% if (!editing) { %>
                <label for="brandChoose">Choose a Brand:</label>
                    <select id="brandChoose" name="brandId">
                        <% for (let brand of brands) { %>
                            <option value="<%=brand._id%>" ><%=brand.brandName%></option>
                        <% } %>
                    </select>
                <% } %>
            <div class="form-control">
                <label for="productName">Product Name</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'productName') ? 'invalid' : '' %>"
                    type="text" 
                    name="productName" 
                    id="productName" 
                    value="<% if (editing || hasError) { %><%= product.productName %><% } %>">
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">ImageUrl</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>">
            </div> -->
            <div class="form-control">
                <label for="images">Images</label>
                <input 
                    type="file" 
                    name="images" 
                    id="images">
            </div>
            <div class="form-control">
                <label for="description">Product description</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    cols="30" 
                    rows="5"><% if (editing || hasError) { %><%=product.description%><% } %></textarea>
            </div>
            <div class="form-control">
                <label for="color">Color</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'color') ? 'invalid' : '' %>"
                    type="text" name="color" id="color" value="<% if (editing || hasError) { %><%= product.color %><% } %>">
            </div>


            <div><h3>Product Size</h3></div>
            <div class="form-control">
                <label for="sizeS">SizeXXS</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'sizeXXS') ? 'invalid' : '' %>" 
                    type="text" name="sizeXXS" id="sizeXXS" value="<% if (editing || hasError) { %><%= product.sizeXXS %><% } %>">
            </div>
            <div class="form-control">
                <label for="sizeXS">SizeXS</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'sizeXS') ? 'invalid' : '' %>" 
                    type="text" name="sizeXS" id="sizeXS" value="<% if (editing || hasError) { %><%= product.sizeXS %><% } %>">
            </div>
            <div class="form-control">
                <label for="sizeS">SizeS</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'sizeS') ? 'invalid' : '' %>" 
                    type="text" name="sizeS" id="sizeS" value="<% if (editing || hasError) { %><%= product.sizeS %><% } %>">
            </div>
            <div class="form-control">
                <label for="sizeM">SizeM</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'sizeM') ? 'invalid' : '' %>"
                    type="text" name="sizeM" id="sizeM" value="<% if (editing || hasError) { %><%= product.sizeM %><% } %>">
            </div>
            <div class="form-control">
                <label for="sizeL">SizeL</label>
                <input 
                class="<%= validationErrors.find(e => e.param === 'sizeL') ? 'invalid' : '' %>"
                    type="text" name="sizeL" id="sizeL" value="<% if (editing || hasError) { %><%= product.sizeL %><% } %>">
            </div>
            <div class="form-control">
                <label for="sizeXL">SizeXL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'sizeXL') ? 'invalid' : '' %>"
                    type="text" name="sizeXL" id="sizeXL" value="<% if (editing || hasError) { %><%= product.sizeXL %><% } %>">
            </div>
            <div class="form-control">
                <label for="sizeXL">SizeXXL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'sizeXXL') ? 'invalid' : '' %>"
                    type="text" name="sizeXXL" id="sizeXXL" value="<% if (editing || hasError) { %><%= product.sizeXXL %><% } %>">
            </div>

            <div><h3>Link Marketplace</h3></div>
            <div class="form-control">
                <label for="tokopedia">Tokopedia</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'tokopedia') ? 'invalid' : '' %>"
                    type="text" name="tokopedia" id="tokopedia" value="<% if (editing || hasError) { %><%= product.tokopedia %><% } %>">
            </div>
            <div class="form-control">
                <label for="shopee">Shopee</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'shopee') ? 'invalid' : '' %>"
                    type="text" name="shopee" id="shopee" value="<% if (editing || hasError) { %><%= product.shopee %><% } %>">
            </div>
            <div class="form-control">
                <label for="bukalapak">Bukalapak</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'bukalapak') ? 'invalid' : '' %>"
                    type="text" name="bukalapak" id="bukalapak" value="<% if (editing || hasError) { %><%= product.bukalapak %><% } %>">
            </div>
            <div class="form-control">
                <label for="instagram">Instagram</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'instagram') ? 'invalid' : '' %>"
                    type="text" name="instagram" id="instagram" value="<% if (editing || hasError) { %><%= product.instagram %><% } %>">
            </div>
            <!-- <div class="form-control">
                <label for="price">Price</label>
                <input type="" name="price" id="price" value="<% if (editing) { %> <%= product.price %> <% } %>">
            </div> -->

            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit"><% if (editing) { %> Update Product <% } else { %> Add Product <% } %> </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>


