<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    
    <script src="https://kit.fontawesome.com/1f23ec8445.js" crossorigin="anonymous"></script>

</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="wrapper">

<!-- Button Admin -->

        <div class="dropdown show">
            <button type="button" class="btnAdmin btn-primary admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> Admin Name
            </button>
            <div class="dropdown-menu">
              <form action="/logout" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="dropdown-item" ><i class="fas fa-power-off"></i> Sign Out</button>
            </form>
            </div>
        </div>

 <!-- Sidebar kiri -->
        <div class="sidebar">
            <img src="../images/logo.png" alt="Vricisely" style="" class="logoApps">
            <ul>
              <li><a href="/home"><img src="../images/home.png" alt="HOME" style="" class="homeBtn"></a></li>
            </ul>
        </div>

<!-- Button Add Brand-->
        <div class="ButtonAddBrd">
            <button type="button" class="btnAdd btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-plus"></i>  Add Brand</button>
        </div>

<!-- Modal Add Brand-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content" style="border-radius: 30px;">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: red; color: white; width: 40px;height: 40px; border-radius: 20px;">
                    <i class="fas fa-times"></i>
                    </button>
                  <h5 style=" font-size: 20; font-family: 'ModelicaExtraBold' ; color: #2F44F5; margin-left: 140px; margin-top: 15px;" >Add Brand</h5>
<!-- =======INI FORMNYA====== -->
                  <form class="product-form" action="/addBrands" method="POST" enctype="multipart/form-data">
                        <!-- <label for="brandName">Nama Brand</label> -->
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder=" Brand Name" 
                          style="border-radius: 20px; background-color: #F5F5F5;border-color: #F5F5F5; font-family:'ModelicaRegular' ; font-size: 12px; width: 250px; text-align: center; margin-left: 70px;" 
                          name="brandName" id="brandName">
                        <!-- <label for="brandImage">Image Brand</label> -->
                        <input 
                            type="file" 
                            name="images" 
                            id="images"
                            role="button"
                            class="btn btn-secondary tombol" style="padding-left:15px; padding-top: 60px;margin-left: 90px; margin-top: 15px; width: 200px;height: 200px;"  >
                            <!-- <i class="far fa-plus-square"></i></i> -->
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <button 
                  class="btn btn-primary tombol" 
                  type="submit"
                  style="padding-left: 30px; padding-right: 30px; margin-left: 140px; margin-top: 15px;"">
                  Add Brand
                </button>
                </form>
<!-- =======END FORM ========-->
                </div>
            </div>
            </div>
        </div>

        <div class="judul">
            <h3>Brand</h3>
        </div>
      
<!-- Garis pembatas -->
    </div>
    <hr style="position: absolute; top: 200px; left: 200px; width: 1400px; border: black thin 2px; margin-top: 30px;">
    <br>
    
<!-- Gambar brand -->
    <div class="brand">
      <% if (brand.length > 0) { %>
        <div class="row brandnya">
          <% for (let brands of brand) { %>
            <div class="col">
              <div class="card brandnya" style="width: 18rem;">
              <!-- <h1><%= brands.brandName %></h1> -->
              <a href="/store/<%= brands._id%>"><img class="card-img-top brandnya" src="/<%= brands.brandImage %>" alt="<%= brand.brandImage %> Card image cap"></a>
              </div>
            </div>
            <% } %>
          </div>
          <% } else { %>
              <h1>No Brand Found</h1>
          <% } %>
    </div>

    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
<%- include('../includes/end.ejs') %>
