<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    
    <script src="https://kit.fontawesome.com/1f23ec8445.js" crossorigin="anonymous"></script>

</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="wrapper">
<!-- button admin -->
        <div class="dropdown show">
            <button type="button" class="btnAdmin btn-primary admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> Admin Name
            </button>
    
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/first"><i class="fas fa-power-off"></i> Sign Out</a>
    
            </div>
        </div>
<!-- sidebar kiri -->
        <div class="sidebar">
            <img src="/images/logo.png" alt="Vricisely" class="logoApps">
            <ul>
              <li><a href="/home"><img src="/images/home.png" alt="HOME" class="homeBtn"></a></li>
            </ul>
        </div>
      
        <div class="judul" style="font-family:'ModelicaRegular'; font-size: 30px; ">
            <h3>  Product List</h3>
        </div>

    <form action="/<% if (editing) { %>editProduct<% } else { %>addProduct<% } %>" method="post" enctype="multipart/form-data">

        <!-- Products information -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded fotoPP" style="position: absolute;
        top: 230px;
        left: 210px; 
        width: 1380px;
        height: 700px;">
        <span>
            <p><label style="font-family:'ModelicaExtraBold'; font-size: 30px;margin-left: 80px; color: grey; " > PRODUCT INFORMATION</label></p>
            <!-- CATEGORY LOOP ? -->
            <p><label style="font-family:'ModelicaBold'; font-size: 20px;margin-left: 80px; color: #2F44F5;" > Category</label></p>        
            <% if (!editing) { %>
              <select id="kategori" name="categoryId" onchange="getSelectValue()" class="custom-select shadow-lg"  style=" font-family:'ModelicaRegular' ;  font-size: 20px; position: absolute; left: 330px; width: 900px; top: 95px; color: grey; border-color: white;">
                <option selected >Choose the category</option>
                <% for (let category of categorys) { %>
                  <option value="<%=category._id%>" ><%=category.categoriesName%></option>
              <% } %>
            </select>
              <% }else{ %>
                <select id="kategori" name="categoryId" onchange="getSelectValue()" class="custom-select shadow-lg"  style=" font-family:'ModelicaRegular' ;  font-size: 20px; position: absolute; left: 330px; width: 900px; top: 95px; color: grey; border-color: white;">
                  <option selected >Choose the category</option>
                  <% for (let category of categorys) { %>
                    <option value="<%=category._id%>" ><%=category.categoriesName%></option>
                <% } %>
              <% } %>

            <p><label style="font-family:'ModelicaRegular'; font-size: 10px; color: gray; width: 180px; text-align: justify; margin-left: 80px;">Pilih kategori yang sesuai dengan jenis poroduk</label></p>
            
            <br>
            <p><label style="font-family:'ModelicaBold'; font-size: 20px;margin-left: 80px; color: #2F44F5;" > Product Name</label></p>
            <p><input type="text" class="form-control shadow-lg" name="productName" id="productName" placeholder="ex : Woman Summer Dress (Jenis Produk) Cotton (Bahan)" 
            style="border-radius: 20px; background-color: white; border: none; font-family:'ModelicaRegular' ; font-size: 20px; position: absolute; left: 330px; width: 900px; top: 220px; height: 80px;" value="<% if (editing) { %><%= product.productName %><% } %>"></input></p>
            <p><label style="font-family:'ModelicaRegular'; font-size: 10px; color: gray; width: 180px; text-align: justify; margin-left: 80px;">Nama min. 5 kata terdiri dari jenis produk, merek dan keterangan warna/bahan/tipe</label></p>
            
            <br>
            <!-- ID harus ada -->
            <input type="hidden" id="coba" >
            <p><label style="font-family:'ModelicaBold'; font-size: 20px;margin-left: 80px; color: #2F44F5;" > Product Detail</label></p>
            <p><textarea type="text" name="description" class="form-control shadow-lg" placeholder="type product detail here..." 
            style="border-radius: 20px; background-color: white; border: none; font-family:'ModelicaRegular' ; font-size: 20px; position: absolute; left: 330px; width: 900px; top: 370px; padding-top: 40px;height: 300px;"><% if (editing) { %><%= product.description %><% } %></textarea></p>
            <p><label style="font-family:'ModelicaRegular'; font-size: 10px; color: gray; width: 180px; text-align: justify; margin-left: 80px;">Produk detail memuat spesifikasi bahan, tipe, kelebihan, petunjuk perawatan. Semakin detail, semakin berguna untuk pembeli</label></p>



        </span>
        </div>
<!-- Isi dan pilih size -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded fotoPP" style="position: absolute; top: 1000px; left: 210px;width: 1380px; height: 1300px">
            <span>
            <p><label style="font-family:'ModelicaExtraBold'; font-size: 30px;margin-left: 80px; color: grey; " > PRODUCT INFORMATION</label></p>
            <p><label style="font-family:'ModelicaRegular'; font-size: 10px; color: gray;  text-align: justify; margin-left: 80px;">Pick product size and type the detail size in cm</p>
            
            
            <!-- Button pilih size -->
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active sizeBTN">
                      <input type="checkbox" checked autocomplete="off"> XXS
                    </label>
                    <label class="btn btn-secondary active sizeBTN">
                        <input type="checkbox" checked autocomplete="off"> XS
                      </label>
                      <label class="btn btn-secondary active sizeBTN">
                        <input type="checkbox" checked autocomplete="off"> S
                      </label>
                      <label class="btn btn-secondary active sizeBTN">
                        <input type="checkbox" checked autocomplete="off"> M
                      </label>
                      <label class="btn btn-secondary active sizeBTN">
                        <input type="checkbox" checked autocomplete="off"> L
                      </label>
                      <label class="btn btn-secondary active sizeBTN">
                        <input type="checkbox" checked autocomplete="off"> XL
                      </label>
                      <label class="btn btn-secondary active sizeBTN">
                        <input type="checkbox" checked autocomplete="off"> XXL
                      </label>
                  </div>
            
<!-- input size -->
        
            <!-- Shoulder -->
            <input type="text" id="shoul1" name="shoulderXXS" class="form-control shadow-lg ukuran" placeholder="shoulder" style="top: 290px; left: 65px;" value="<% if (editing) { %><%= product.sizeXXS[0] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 355px; left: 195px;">cm</p>
            <input type="text" id="shoul2" name="shoulderXS" class="form-control shadow-lg ukuran" placeholder="shoulder" style="top: 290px; left: 250px;"value="<% if (editing) { %><%= product.sizeXS[0] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 355px; left: 380px;">cm</p>
            <input type="text" id="shoul3" name="shoulderS" class="form-control shadow-lg ukuran" placeholder="shoulder" style="top: 290px; left: 435px;"value="<% if (editing) { %><%= product.sizeS[0] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 355px; left: 565px;">cm</p>
            <input type="text" id="shoul4" name="shoulderM" class="form-control shadow-lg ukuran" placeholder="shoulder" style="top: 290px; left: 620px;" value="<% if (editing) { %><%= product.sizeM[0] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 355px; left: 750px;">cm</p>
            <input type="text" id="shoul5" name="shoulderL" class="form-control shadow-lg ukuran" placeholder="shoulder" style="top: 290px; left: 805px;" value="<% if (editing) { %><%= product.sizeL[0] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 355px; left: 935px;">cm</p>
            <input type="text" id="shoul6" name="shoulderXL" class="form-control shadow-lg ukuran" placeholder="shoulder" style="top: 290px; left: 990px;" value="<% if (editing) { %><%= product.sizeXL[0] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 355px; left: 1120px;">cm</p>
            <input type="text" id="shoul7" name="shoulderXXL" class="form-control shadow-lg ukuran" placeholder="shoulder" style="top: 290px; left: 1175px;" value="<% if (editing) { %><%= product.sizeXXL[0] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 355px; left: 1305px;">cm</p>               

            <!-- Chest -->
            <input type="text" id="ch1" name="chestXXS" class="form-control shadow-lg ukuran inidia" placeholder="chest" style="top: 400px; left: 65px;" value="<% if (editing) { %><%= product.sizeXXS[1] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 465px; left: 195px;">cm</p>
            <input type="text" id="ch2" name="chestXS" class="form-control shadow-lg ukuran inidia" placeholder="chest" style="top: 400px; left: 250px;"value="<% if (editing) { %><%= product.sizeXS[1] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 465px; left: 380px;">cm</p>
            <input type="text" id="ch3" name="chestS" class="form-control shadow-lg ukuran inidia" placeholder="chest" style="top: 400px; left: 435px;"value="<% if (editing) { %><%= product.sizeS[1] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 465px; left: 565px;">cm</p>
            <input type="text" id="ch4" name="chestM" class="form-control shadow-lg ukuran inidia" placeholder="chest" style="top: 400px; left: 620px;"value="<% if (editing) { %><%= product.sizeM[1] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 465px; left: 750px;">cm</p>
            <input type="text" id="ch5" name="chestL" class="form-control shadow-lg ukuran inidia" placeholder="chest" style="top: 400px; left: 805px;"value="<% if (editing) { %><%= product.sizeL[1] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 465px; left: 935px;">cm</p>
            <input type="text" id="ch6" name="chestXL" class="form-control shadow-lg ukuran inidia" placeholder="chest" style="top: 400px; left: 990px;"value="<% if (editing) { %><%= product.sizeXL[1] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 465px; left: 1120px;">cm</p>
            <input type="text" id="ch7" name="chestXXL" class="form-control shadow-lg ukuran inidia" placeholder="chest" style="top: 400px; left: 1175px;"value="<% if (editing) { %><%= product.sizeXXL[1] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 465px; left: 1305px;">cm</p>  
 
            
            <!-- Length -->
            <input type="text" id="lh1" name="lengthXXS" class="form-control shadow-lg ukuran" placeholder="length" style="top: 510px; left: 65px;"value="<% if (editing) { %><%= product.sizeXXS[2] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 575px; left: 195px;">cm</p>
            <input type="text" id="lh2" name="lengthXS" class="form-control shadow-lg ukuran" placeholder="length" style="top: 510px; left: 250px;"value="<% if (editing) { %><%= product.sizeXS[2] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 575px; left: 380px;">cm</p>
            <input type="text" id="lh3" name="lengthS" class="form-control shadow-lg ukuran" placeholder="length" style="top: 510px; left: 435px;"value="<% if (editing) { %><%= product.sizeS[2] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 575px; left: 565px;">cm</p>
            <input type="text" id="lh4" name="lengthM" class="form-control shadow-lg ukuran" placeholder="length" style="top: 510px; left: 620px;"value="<% if (editing) { %><%= product.sizeM[2] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 575px; left: 750px;">cm</p>
            <input type="text" id="lh5" name="lengthL" class="form-control shadow-lg ukuran" placeholder="length" style="top: 510px; left: 805px;"value="<% if (editing) { %><%= product.sizeL[2] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 575px; left: 935px;">cm</p>
            <input type="text" id="lh6" name="lengthXL" class="form-control shadow-lg ukuran" placeholder="length" style="top: 510px; left: 990px;"value="<% if (editing) { %><%= product.sizeXL[2] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 575px; left: 1120px;">cm</p>
            <input type="text" id="lh7" name="lengthXXL" class="form-control shadow-lg ukuran" placeholder="length" style="top: 510px; left: 1175px;"value="<% if (editing) { %><%= product.sizeXXL[2] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 575px; left: 1305px;">cm</p> 
     

            
            <!-- Sleve Length -->
            <input type="text" id="sl1" name="sleveLengthXXS" class="form-control shadow-lg ukuran" placeholder="sleve length" style="top: 620px; left: 65px; font-size: 18px;" value="<% if (editing) { %><%= product.sizeXXS[3] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 685px; left: 195px;">cm</p>
            <input type="text" id="sl2" name="sleveLengthXS" class="form-control shadow-lg ukuran" placeholder="sleve length" style="top: 620px; left: 250px; font-size: 18px;"value="<% if (editing) { %><%= product.sizeXS[3] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 685px; left: 380px;">cm</p>
            <input type="text" id="sl3" name="sleveLengthS" class="form-control shadow-lg ukuran" placeholder="sleve length" style="top: 620px; left: 435px; font-size: 18px;"value="<% if (editing) { %><%= product.sizeS[3] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 685px; left: 565px;">cm</p>
            <input type="text" id="sl4" name="sleveLengthM" class="form-control shadow-lg ukuran" placeholder="sleve length" style="top: 620px; left: 620px; font-size: 18px;"value="<% if (editing) { %><%= product.sizeM[3] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 685px; left: 750px;">cm</p>
            <input type="text" id="sl5" name="sleveLengthL" class="form-control shadow-lg ukuran" placeholder="sleve length" style="top: 620px; left: 805px; font-size: 18px;"value="<% if (editing) { %><%= product.sizeL[3] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 685px; left: 935px;">cm</p>
            <input type="text" id="sl6" name="sleveLengthXL" class="form-control shadow-lg ukuran" placeholder="sleve length" style="top: 620px; left: 990px; font-size: 18px;"value="<% if (editing) { %><%= product.sizeXL[3] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 685px; left: 1120px;">cm</p>
            <input type="text" id="sl7" name="sleveLengthXXL" class="form-control shadow-lg ukuran" placeholder="sleve length" style="top: 620px; left: 1175px; font-size: 18px;"value="<% if (editing) { %><%= product.sizeXXL[3] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 685px; left: 1305px;">cm</p> 


            <!-- Waist -->
            <input type="text" id="ws1" name="waistXXS" class="form-control shadow-lg ukuran" placeholder="waist" style="top: 730px; left: 65px;" value="<% if (editing) { %><%= product.sizeXXS[4] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 795px; left: 195px;">cm</p>
            <input type="text" id="ws2" name="waistXS" class="form-control shadow-lg ukuran" placeholder="waist" style="top: 730px; left: 250px;" value="<% if (editing) { %><%= product.sizeXS[4] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 795px; left: 380px;">cm</p>
            <input type="text" id="ws3" name="waistS" class="form-control shadow-lg ukuran" placeholder="waist" style="top: 730px; left: 435px;" value="<% if (editing) { %><%= product.sizeS[4] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 795px; left: 565px;">cm</p>
            <input type="text" id="ws4" name="waistM" class="form-control shadow-lg ukuran" placeholder="waist" style="top: 730px; left: 620px;" value="<% if (editing) { %><%= product.sizeM[4] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 795px; left: 750px;">cm</p>
            <input type="text" id="ws5" name="waistL" class="form-control shadow-lg ukuran" placeholder="waist" style="top: 730px; left: 805px;" value="<% if (editing) { %><%= product.sizeL[4] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 795px; left: 935px;">cm</p>
            <input type="text" id="ws6" name="waistXL" class="form-control shadow-lg ukuran" placeholder="waist" style="top: 730px; left: 990px;" value="<% if (editing) { %><%= product.sizeXL[4] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 795px; left: 1120px;">cm</p>
            <input type="text" id="ws7" name="waistXXL" class="form-control shadow-lg ukuran" placeholder="waist" style="top: 730px; left: 1175px;" value="<% if (editing) { %><%= product.sizeXXL[4] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 795px; left: 1305px;">cm</p> 


            <!-- Hip -->
            <input type="text" id="hp1" name="hipXXS" class="form-control shadow-lg ukuran" placeholder="hip" style="top: 840px; left: 65px;" value="<% if (editing) { %><%= product.sizeXXS[5] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 905px; left: 195px;">cm</p>
            <input type="text" id="hp2" name="hipXS" class="form-control shadow-lg ukuran" placeholder="hip" style="top: 840px; left: 250px;" value="<% if (editing) { %><%= product.sizeXS[5] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 905px; left: 380px;">cm</p>
            <input type="text" id="hp3" name="hipS" class="form-control shadow-lg ukuran" placeholder="hip" style="top: 840px; left: 435px;" value="<% if (editing) { %><%= product.sizeS[5] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 905px; left: 565px;">cm</p>
            <input type="text" id="hp4" name="hipM" class="form-control shadow-lg ukuran" placeholder="hip" style="top: 840px; left: 620px;" value="<% if (editing) { %><%= product.sizeM[5] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 905px; left: 750px;">cm</p>
            <input type="text" id="hp5" name="hipL" class="form-control shadow-lg ukuran" placeholder="hip" style="top: 840px; left: 805px;"value="<% if (editing) { %><%= product.sizeL[5] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 905px; left: 935px;">cm</p>
            <input type="text" id="hp6" name="hipXL" class="form-control shadow-lg ukuran" placeholder="hip" style="top: 840px; left: 990px;"value="<% if (editing) { %><%= product.sizeXL[5] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 905px; left: 1120px;">cm</p>
            <input type="text" id="hp7" name="hipXXL" class="form-control shadow-lg ukuran" placeholder="hip" style="top: 840px; left: 1175px;"value="<% if (editing) { %><%= product.sizeXXL[5] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 905px; left: 1305px;">cm</p> 

            <!-- Tight -->
            <input type="text" id="th1" name="tightXXS" class="form-control shadow-lg ukuran" placeholder="tight" style="top: 950px; left: 65px;"value="<% if (editing) { %><%= product.sizeXXS[6] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1015px; left: 195px;">cm</p>
            <input type="text" id="th2" name="tightXS" class="form-control shadow-lg ukuran" placeholder="tight" style="top: 950px; left: 250px;"value="<% if (editing) { %><%= product.sizeXS[6] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1015px; left: 380px;">cm</p>
            <input type="text" id="th3" name="tightS" class="form-control shadow-lg ukuran" placeholder="tight" style="top: 950px; left: 435px;"value="<% if (editing) { %><%= product.sizeS[6] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1015px; left: 565px;">cm</p>
            <input type="text" id="th4" name="tightM" class="form-control shadow-lg ukuran" placeholder="tight" style="top: 950px; left: 620px;"value="<% if (editing) { %><%= product.sizeM[6] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1015px; left: 750px;">cm</p>
            <input type="text" id="th5" name="tightL" class="form-control shadow-lg ukuran" placeholder="tight" style="top: 950px; left: 805px;"value="<% if (editing) { %><%= product.sizeL[6] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1015px; left: 935px;">cm</p>
            <input type="text" id="th6" name="tightXL" class="form-control shadow-lg ukuran" placeholder="tight" style="top: 950px; left: 990px;"value="<% if (editing) { %><%= product.sizeXL[6] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1015px; left: 1120px;">cm</p>
            <input type="text" id="th7" name="tightXXL" class="form-control shadow-lg ukuran" placeholder="tight" style="top: 950px; left: 1175px;"value="<% if (editing) { %><%= product.sizeXXL[6] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1015px; left: 1305px;">cm</p> 

            <!-- Front rise -->
            <input type="text" id="fr1" name="frontRiseXXS" class="form-control shadow-lg ukuran" placeholder="front rise" style="top: 1060px; left: 65px;"value="<% if (editing) { %><%= product.sizeXXS[7] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1125px; left: 195px;">cm</p>
            <input type="text" id="fr2" name="frontRiseXS" class="form-control shadow-lg ukuran" placeholder="front rise" style="top: 1060px; left: 250px;"value="<% if (editing) { %><%= product.sizeXS[7] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1125px; left: 380px;">cm</p>
            <input type="text" id="fr3" name="frontRiseS" class="form-control shadow-lg ukuran" placeholder="front rise" style="top: 1060px; left: 435px;"value="<% if (editing) { %><%= product.sizeS[7] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1125px; left: 565px;">cm</p>
            <input type="text" id="fr4" name="frontRiseM" class="form-control shadow-lg ukuran" placeholder="front rise" style="top: 1060px; left: 620px;"value="<% if (editing) { %><%= product.sizeM[7] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1125px; left: 750px;">cm</p>
            <input type="text" id="fr5" name="frontRiseL" class="form-control shadow-lg ukuran" placeholder="front rise" style="top: 1060px; left: 805px;"value="<% if (editing) { %><%= product.sizeL[7] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1125px; left: 935px;">cm</p>
            <input type="text" id="fr6" name="frontRiseXL" class="form-control shadow-lg ukuran" placeholder="front rise" style="top: 1060px; left: 990px;"value="<% if (editing) { %><%= product.sizeXL[7] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1125px; left: 1120px;">cm</p>
            <input type="text" id="fr7" name="frontRiseXXL" class="form-control shadow-lg ukuran" placeholder="front rise" style="top: 1060px; left: 1175px;"value="<% if (editing) { %><%= product.sizeXXL[7] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1125px; left: 1305px;">cm</p> 

            <!-- Back rise -->
            <input type="text" id="br1" name="backRiseXXS" class="form-control shadow-lg ukuran" placeholder="back rise" style="top: 1170px; left: 65px;" value="<% if (editing) { %><%= product.sizeXXS[8] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1235px; left: 195px;">cm</p>
            <input type="text" id="br2" name="backRiseXS" class="form-control shadow-lg ukuran" placeholder="back rise" style="top: 1170px; left: 250px;" value="<% if (editing) { %><%= product.sizeXS[8] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1235px; left: 380px;">cm</p>
            <input type="text" id="br3" name="backRiseS" class="form-control shadow-lg ukuran" placeholder="back rise" style="top: 1170px; left: 435px;" value="<% if (editing) { %><%= product.sizeS[8] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1235px; left: 565px;">cm</p>
            <input type="text" id="br4" name="backRiseM" class="form-control shadow-lg ukuran" placeholder="back rise" style="top: 1170px; left: 620px;" value="<% if (editing) { %><%= product.sizeM[8] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1235px; left: 750px;">cm</p>
            <input type="text" id="br5" name="backRiseL" class="form-control shadow-lg ukuran" placeholder="back rise" style="top: 1170px; left: 805px;" value="<% if (editing) { %><%= product.sizeL[8] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1235px; left: 935px;">cm</p>
            <input type="text" id="br6" name="backRiseXL" class="form-control shadow-lg ukuran" placeholder="back rise" style="top: 1170px; left: 990px;" value="<% if (editing) { %><%= product.sizeXL[8] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1235px; left: 1120px;">cm</p>
            <input type="text" id="br7" name="backRiseXXL" class="form-control shadow-lg ukuran" placeholder="back rise" style="top: 1170px; left: 1175px;"value="<% if (editing) { %><%= product.sizeXXL[8] %><% } %>">
            <p><label style="font-family:'ModelicaRegular'; font-size: 15px; color: gray;  text-align: justify; position: absolute; top: 1235px; left: 1305px;">cm</p> 

            <!-- <p><a href="/profile"><button class="tombol" style="font-family:'ModelicaBold'; font-size: 20px; margin-left: 300px;padding: 10px 30px; position: absolute;top: 1100px; left: 820px;"> Next <i class="fas fa-forward"></i></button></p></a>
            <p><a href="/profile"><button class="tombol" style="font-family:'ModelicaBold'; font-size: 20px; margin-left: 300px;padding: 10px 30px; position: absolute;top: 1100px; left: 600px;"><i class="fas fa-backward"></i> Previous</button></p></a> -->
            </span>
        </div>
        

<!-- link market place -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded fotoPP" style="position: absolute;
        top: 3450px;
        left: 210px; 
        width: 1380px;
        height: 650px;">
        <span>
            <p><label style="font-family:'ModelicaExtraBold'; font-size: 30px;margin-left: 80px; color: grey; " > LINK TO MARKET PLACE</label></p>
            <p><label style="font-family:'ModelicaBold'; font-size: 25px;margin-left: 80px; color: #2F44F5; position: absolute; width: 900px; top: 105px; "  > Tokopedia </label></p>
            <p><input type="text" name="tokopedia" class="form-control shadow-lg" placeholder="type link marketplace..." value="<% if (editing) { %><%= product.tokopedia %><% } %>"
            style="border-radius: 20px; background-color: white; border: none; font-family:'ModelicaRegular' ; font-size: 20px; position: absolute; left: 330px; width: 900px; top: 95px; padding-top: 40px; padding-bottom: 40px;"></p>
            
            <br>
            <p><label style="font-family:'ModelicaBold'; font-size: 25px;margin-left: 80px; color: #2F44F5; position: absolute; width: 900px; top: 205px; " > Shopee </label></p>
            <p><input type="text" name="shopee" class="form-control shadow-lg" placeholder="type link marketplace..." value="<% if (editing) { %><%= product.shopee %><% } %>" 
            style="border-radius: 20px; background-color: white; border: none; font-family:'ModelicaRegular' ; font-size: 20px; position: absolute; left: 330px; width: 900px; top: 195px; padding-top: 40px; padding-bottom: 40px;"></p>

            <br>
            <p><label style="font-family:'ModelicaBold'; font-size: 25px;margin-left: 80px; color: #2F44F5; position: absolute; width: 900px; top: 305px; " >  Bukalapak </label></p>
            <p><input type="text" name="bukalapak" class="form-control shadow-lg" placeholder="type link marketplace..." value="<% if (editing) { %><%= product.bukalapak %><% } %>"
            style="border-radius: 20px; background-color: white; border: none; font-family:'ModelicaRegular' ; font-size: 20px; position: absolute; left: 330px; width: 900px; top: 295px; padding-top: 40px; padding-bottom: 40px;"></p>
        
            <br>
            <p><label style="font-family:'ModelicaBold'; font-size: 25px;margin-left: 80px; color: #2F44F5; position: absolute; width: 900px; top: 405px; " >  Instagram </label></p>
            <p><input type="text" name="instagram" class="form-control shadow-lg" placeholder="type link marketplace..." value="<% if (editing) { %><%= product.instagram %><% } %>"
            style="border-radius: 20px; background-color: white; border: none; font-family:'ModelicaRegular' ; font-size: 20px; position: absolute; left: 330px; width: 900px; top: 395px; padding-top: 40px; padding-bottom: 40px;"></p>
        
            <p><label style="font-family:'ModelicaBold'; font-size: 25px;margin-left: 80px; color: #2F44F5; position: absolute; top: -220px;z-index: 10;" > Color</label></p>
                <p><input type="text" name="color" id="color" class="form-control shadow-lg" placeholder="Red , Blue , Grey , Green , etc" value="<% if (editing) { %><%= product.color %><% } %>"
                style="border-radius: 20px; background-color: white; border: none; font-family:'ModelicaRegular' ; font-size: 20px; position: absolute; left: 330px; width: 900px; top: -220px; height: 80px;z-index: 10;"></input></p>
                <p><label style="font-family:'ModelicaRegular'; font-size: 10px; color: gray; width: 180px; text-align: justify; margin-left: 80px;position: absolute; top: -180px; z-index: 10;">Tulisakna macam-macam warna dengan pemisah (,)</label></p>

            <br>
            <% if (!editing) { %>
              <input type="hidden" name="brandId" value="<%=brandId%>">
              <% } else {%>
              <input type="hidden" name="productId" value="<%=product._id%>">
              <input type="hidden" name="brandId" value="<%=product.brandId%>">
              <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!-- <button class="btn" type="submit">save</button> -->
            <button class="btn-primary tombol" type="submit" style=" font-size: 30px; position: absolute; width: 600px;height: 100px; top: 520px; left: 400px;" >Save</button>
          </form>
        </span>
        </div>
   
        <!-- Upload foto products -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded fotoPP" style="position: absolute;
        top: 2350px;
        left: 210px; 
        width: 1380px;
        height: 1000px;">
    
        <span>
        <p><label style="font-family:'ModelicaExtraBold'; font-size: 30px;margin-left: 80px; color: grey; " > UPLOAD PRODUCT PHOTO</label></p>
        <p><label style="font-family:'ModelicaRegular'; font-size: 10px; color: gray;  text-align: justify; margin-left: 80px;">Upload the photo about the detail of the products</p>    
            
            <div class="Banner">
                <div class="row" style="position: absolute; top: 130px; left: 30px; " >
                    <div class="col"><div class="card" style="width: 15rem; margin-left: 0px;">
                      <form action="/imagesProduct1" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (editing && product.imagesProduct1) { %><%=product.imagesProduct1%><% }else{ %><%= 'images/noImages.jpg' %> <%}%>" alt="Card image cap">
                        <div class="card-body">  
                            <input 
                                type="file" 
                                name="images" 
                                id="images">
                        <button type="submit" class="btn btn-primary tombol col-6" style="background-color: #2F44F5; font-size: 14px;margin-top: 5px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <% if (editing) { %>
                          <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% } %>
                        </form>
                        <form action="/deleteImagesProduct1" method="post">
                          <button type="submit" class="btn btn-primary tombol col-5" style="background-color: red; font-size: 14px;margin-top: 5px;" ><i class="fas fa-trash"></i> Delete</button>
                          <% if (editing) { %>
                            <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                            <input type="hidden" name="productId" value="<%=product._id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <% } %>
                      </form>
                        </div>
                      </div>
                    </div>
    
                    <div class="col"><div class="card" style="width: 15rem; margin-left: 0px;">
                      <form action="/imagesProduct2" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (editing && product.imagesProduct2) { %><%=product.imagesProduct2%><% }else{ %><%= 'images/noImages.jpg' %><% } %>" alt="Card image cap">
                        <div class="card-body">  
                            <input 
                                type="file" 
                                name="images" 
                                id="images">
                        <button type="submit" class="btn btn-primary tombol col-6" style="background-color: #2F44F5; font-size: 14px;margin-top: 5px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <% if (editing) { %>
                          <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% } %>
                        </form>
                        <form action="/deleteImagesProduct2"method="post">
                          <button type="submit" class="btn btn-primary tombol col-5" style="background-color: red;font-size: 14px;margin-top: 5px;" ><i class="fas fa-trash"></i> Delete</button>
                          <% if (editing) { %>
                            <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                            <input type="hidden" name="productId" value="<%=product._id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <% } %>
                      </form>
                        </div>
                      </div>
                    </div>
    
                    <div class="col"><div class="card" style="width: 15rem; margin-left: 0px;">
                      <form action="/imagesProduct3" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (editing && product.imagesProduct3) { %><%=product.imagesProduct3%><% }else{ %><%= 'images/noImages.jpg' %> <%}%>" alt="Card image cap">
                        <div class="card-body">  
                            <input 
                                type="file" 
                                name="images" 
                                id="images">
                        <button type="submit" class="btn btn-primary tombol col-6" style="background-color: #2F44F5; font-size: 14px;margin-top: 5px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <% if (editing) { %>
                          <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% } %>
                        </form>
                        <form action="/deleteImagesProduct3"method="post">
                          <button type="submit" class="btn btn-primary tombol col-5" style="background-color: red; font-size: 14px;margin-top: 5px;" ><i class="fas fa-trash"></i> Delete</button>
                          <% if (editing) { %>
                            <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                            <input type="hidden" name="productId" value="<%=product._id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <% } %>
                      </form>
                        </div>
                      </div>
                    </div>
    
                    <div class="col"><div class="card" style="width: 15rem; margin-left: 0px;">
                      <form action="/imagesProduct4" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (editing&& product.imagesProduct4) { %><%=product.imagesProduct4%><% }else{ %><%= 'images/noImages.jpg' %> <%}%>" alt="Card image cap">
                        <div class="card-body">  
                            <input 
                                type="file" 
                                name="images" 
                                id="images">
                        <button type="submit" class="btn btn-primary tombol col-6" style="background-color: #2F44F5; font-size: 14px;margin-top: 5px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <% if (editing) { %>
                          <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% } %>
                        </form>
                        <form action="/deleteImagesProduct4"method="post">
                          <button type="submit" class="btn btn-primary tombol col-5" style="background-color: red; font-size: 14px;margin-top: 5px;" ><i class="fas fa-trash"></i> Delete</button>
                          <% if (editing) { %>
                            <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                            <input type="hidden" name="productId" value="<%=product._id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <% } %>
                      </form>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row" style="position: absolute; top: 500px; left: 30px; " >
                    <div class="col"><div class="card" style="width: 15rem; margin-left: 0px;">
                      <form action="/imagesProduct5" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (editing&& product.imagesProduct5) { %><%=product.imagesProduct5%><% }else{ %><%= 'images/noImages.jpg' %> <%}%>" alt="Card image cap">
                        <div class="card-body">  
                            <input 
                                type="file" 
                                name="images" 
                                id="images">
                        <button type="submit" class="btn btn-primary tombol col-6" style="background-color: #2F44F5; font-size: 14px;margin-top: 5px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <% if (editing) { %>
                        <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% } %>
                        </form>
                        <form action="/deleteImagesProduct5"method="post">
                          <button type="submit" class="btn btn-primary tombol col-5" style="background-color: red; font-size: 14px;margin-top: 5px;" ><i class="fas fa-trash"></i> Delete</button>
                          <% if (editing) { %>
                            <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                            <input type="hidden" name="productId" value="<%=product._id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <% } %>
                      </form>
                        </div>
                      </div>
                    </div>
    
                    <div class="col"><div class="card" style="width: 15rem; margin-left: 0px;">
                      <form action="/imagesProduct6" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (editing&& product.imagesProduct6) { %><%=product.imagesProduct6%><% }else{ %><%= 'images/noImages.jpg' %> <%}%>" alt="Card image cap">
                        <div class="card-body">  
                            <input 
                                type="file" 
                                name="images" 
                                id="images">
                        <button type="submit" class="btn btn-primary tombol col-6" style="background-color: #2F44F5; font-size: 14px;margin-top: 5px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <% if (editing) { %>
                          <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% } %>
                        </form>
                        <form action="/deleteImagesProduct6"method="post">
                          <button type="submit" class="btn btn-primary tombol col-5" style="background-color: red; font-size: 14px;margin-top: 5px;" ><i class="fas fa-trash"></i> Delete</button>
                          <% if (editing) { %>
                            <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                            <input type="hidden" name="productId" value="<%=product._id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <% } %>
                      </form>
                        </div>
                      </div>
                    </div>
    
                    <div class="col"><div class="card" style="width: 15rem; margin-left: 0px;">
                      <form action="/imagesProduct7" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (editing&& product.imagesProduct7) { %><%=product.imagesProduct7%><% }else{ %><%= 'images/noImages.jpg' %> <%}%>" alt="Card image cap">
                        <div class="card-body">  
                            <input 
                                type="file" 
                                name="images" 
                                id="images">
                        <button type="submit" class="btn btn-primary tombol col-6" style="background-color: #2F44F5; font-size: 14px;margin-top: 5px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <% if (editing) { %>
                          <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% } %>
                        </form>
                        <form action="/deleteImagesProduct7"method="post">
                          <button type="submit" class="btn btn-primary tombol col-5" style="background-color: red; font-size: 14px;margin-top: 5px;" ><i class="fas fa-trash"></i> Delete</button>
                          <% if (editing) { %>
                            <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                            <input type="hidden" name="productId" value="<%=product._id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <% } %>
                      </form>
                        </div>
                      </div>
                    </div>
    
                    <div class="col"><div class="card" style="width: 15rem; margin-left: 0px;">
                      <form action="/imagesProduct8" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (editing&& product.imagesProduct8) { %><%=product.imagesProduct8%><% }else{ %><%= 'images/noImages.jpg' %> <%}%>" alt="Card image cap">
                        <div class="card-body">  
                            <input 
                                type="file" 
                                name="images" 
                                id="images">
                        <button type="submit" class="btn btn-primary tombol col-6" style="background-color: #2F44F5; font-size: 14px;margin-top: 5px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <% if (editing) { %>
                          <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% } %>
                        </form>
                        <form action="/deleteImagesProduct8"method="post">
                          <button type="submit" class="btn btn-primary tombol col-5" style="background-color: red; font-size: 14px;margin-top: 5px;" ><i class="fas fa-trash"></i> Delete</button>
                          <% if (editing) { %>
                            <input type="hidden" name="categoryId" value="<%=product.categoryId%>">
                            <input type="hidden" name="productId" value="<%=product._id%>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                           <% } %>
                      </form>
                        </div>
                      </div>
                    </div>
                </div>
    
                

            </div>          
        </div>
    
    
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- Java script untuk size input -->

<script>

    
    function getSelectValue(){
        var d=document.getElementById("kategori");
        var displaytext=d.options[d.selectedIndex].text;
        document.getElementById("coba").value=displaytext;

        if (displaytext === "Shirt") 
        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = true;}
        } 

        else if  (displaytext === "Long Sleve") 
        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = true;}
        }
        else if  (displaytext === "Skirt") 
        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = true;}
        }
        else if  (displaytext === "Dress") 
        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = true;}
        }
        else if  (displaytext === "Pants") 
        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = false;}
        }
    }
    // function tampilkanPesan(){
    //         alert("Hellow");
    //     document.getElementById("coba").innerText = "Ganti isi";
    // }
    </script>
<%- include('../includes/end.ejs') %>
