<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>PRODUCT LIST</h1>
        <% if (prods.length > 0) { %>
      <div class="grid">
          <% for (let product of prods) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.productName %></h1>
                </header>
                <div class="card__image">
                    <img src="/<%= product.imageUrl %>" alt="<%= product.productName %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price"><%= product.color %></h2>
                    <p class="product__description"><%= product.description %></p>
                </div>
                <div class="card__content">
                    <h1>Product Size</h1>
                    <p class="product__description"><%= product.sizeXL %></p>
                    <p class="product__description"><%= product.sizeL %></p>
                    <p class="product__description"><%= product.sizeM %></p>
                    <p class="product__description"><%= product.sizeS %></p>
                </div>
                <div class="card__content">
                    <h1>Marketplace</h1>
                    <p class="product__description"><%= product.tokopedia %></p>
                    <p class="product__description"><%= product.shopee %></p>
                    <p class="product__description"><%= product.bukalapak %></p>
                    <p class="product__description"><%= product.instagram %></p>
                </div>
                <div class="card__actions">
                    <a href="/products/<%= product._id%>" class="btn">Detail</a>
                    <a href="/edit-product/<%= product._id%>?edit=true" class="btn">Edit</a>
                    <form action="/delete-product" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" value="<%= product._id%>" name="productId" >
                        <button class="btn" type="submit">Delete</button>
                    </form>    
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>No Product Found</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>