<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="https://kit.fontawesome.com/1f23ec8445.js" crossorigin="anonymous"></script>

</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="wrapper">
<!-- button admin -->
        <div class="dropdown show">
            <button type="button" class="btnAdmin btn-primary admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> Admin Name
            </button>
    
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/first"><i class="fas fa-power-off"></i> Sign Out</a>
    
            </div>
        </div>
<!-- sidebar kiri -->
        <div class="sidebar">
            <img src="../images/logo.png" alt="Vricisely" class="logoApps">
            <ul>
              <li><a href="/home"><img src="../images/home.png" alt="HOME" class="homeBtn"></a></li>
            </ul>
        </div>

        <div class="judul" style="font-family:'ModelicaRegular'; font-size: 20px; ">
            <p>Brand's Name</p>
        </div>

        <hr style="position: absolute; top: 200px; left: 200px; width: 1400px; border: black thin 2px; margin-top: 15px;">
        <br>

        <div class="ProductList" style="font-family:'ModelicaExtraBold'; font-size: 25px; position: absolute;
        top: 230px;
        left: 210px; ">
            <a href="/store/<%=brands._id%>"><p style="color: black;">Product List</p></a>
        </div>

        <hr style="position: absolute; top: 200px; left: 200px; width: 1400px; border: black thin 2px; margin-top: 85px;">
        <br>

        <div class="BrandProfile" style="font-family:'ModelicaBold'; font-size: 25px; position: absolute;
        top: 230px;
        left: 460px; ">
            <a href="#"><p style="color:#2F44F5;">Brand Profile</p></a>
        </div>
        <hr style="position: absolute; top: 195px; left: 440px; width: 200px; border: #2F44F5 solid 2px; margin-top: 85px;">

        <form action="/editBrand" method="post" enctype="multipart/form-data">
<!-- foto brand -->
        <div class="fotoProfile">
            <a href="/home" class="fotoPP"><img src="/<%= brands.brandImage %>" alt="Card image cap" style="width: 220px; height: 220px; " class="shadow-lg fotoPP" ></a>
            <input type="file" name="images" id="images">
        </div>
        
<!-- Brand Nama Lable -->
        <p style="font-family:'ModelicaBold' ; font-size: 20px; color: grey;position: absolute;
        top: 350px;
        left: 520px; ">Brand Name</p>
<!-- input brand name -->
        <input type="text" class="form-control" name="brandName" value="<%=brands.brandName%>"
            style="border-radius: 20px; background-color: #F5F5F5;border-color: #F5F5F5; font-family:'ModelicaRegular' ; font-size: 20px; padding-left: 22px ; position: absolute;
            top: 400px;
            left: 520px; 
            width: 1000px;
            height: 80px;">

<!-- tombol save -->
            <button class="btn btn-primary tombol" type="submit" style="background-color: #2f44f5; padding-left: 100px; padding-right: 100px; position: absolute;
            top: 500px;
            left: 120px; font-size: 30px; margin-left: 400px;"> Save</button>
            <input type="hidden" name="brandId" value="<%=brands._id%>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
<!-- input banner foto -->
        <div class="BannerJudul" style="font-family:'ModelicaBold'; font-size: 20px; position: absolute;
        top: 650px;
        left: 210px; ">
            <p style="color: grey; font-family: 'ModelicaBold';font-size: 20px; "> BANNER</p>
        </div>
        
   
        <div class="Banner">
            <div class="row" style="position: absolute; top: 700px; left: 140px; " >
                <div class="col"><div class="card" style="width: 25rem; margin-left: 20px;">
                    <form action="/brandBanner1" method="post" enctype="multipart/form-data">
                    <img class="card-img-top" src="/<% if (brands.brandBanner1 !== '' ) { %><%=brands.brandBanner1%><% }else{ %><%= '../images/brand/brand2.jpeg' %> <%}%> " alt="Card image cap">
                    <div class="card-body">
                        <input 
                        type="file" 
                        name="images" 
                        id="images">
                      <button type="submit" class="btn btn-primary tombol" style="background-color: #2f44f5; margin-left: 70px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                      <input type="hidden" name="brandId" value="<%=brands._id%>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                    <form action="/deleteBrandBanner1"method="post">
                      <button type="submit" class="btn btn-primary tombol" style="background-color: red; margin-left: 10px;" ></i><i class="fas fa-trash"></i> Delete</button>
                      <input type="hidden" name="brandId" value="<%=brands._id%>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                    </div>
                    
                  </div>
                </div>

                <div class="col"><div class="card" style="width: 25rem; margin-left: 20px;">
                    <form action="/brandBanner2" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (brands.brandBanner2 !== '') { %><%=brands.brandBanner2%><% }else{ %><%= '../images/brand/brand2.jpeg' %> <%}%> " alt="Card image cap">
                        <div class="card-body">
                            <input 
                            type="file" 
                            name="images" 
                            id="images">
                          <button type="submit" class="btn btn-primary tombol" style="background-color: #2f44f5; margin-left: 70px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <input type="hidden" name="brandId" value="<%=brands._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                        <form action="/deleteBrandBanner2"method="post">
                            <button type="submit" class="btn btn-primary tombol" style="background-color: red; margin-left: 10px;" ></i><i class="fas fa-trash"></i> Delete</button>
                            <input type="hidden" name="brandId" value="<%=brands._id%>">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                  </div>
                </div>

                <div class="col"><div class="card" style="width: 25rem; margin-left: 20px;">
                    <form action="/brandBanner3" method="post" enctype="multipart/form-data">
                        <img class="card-img-top" src="/<% if (brands.brandBanner3) { %><%=brands.brandBanner3%><% }else{ %><%= '../images/brand/brand2.jpeg' %> <%}%> " alt="Card image cap">
                        <div class="card-body">
                            <input 
                            type="file" 
                            name="images" 
                            id="images">
                          <button type="submit" class="btn btn-primary tombol" style="background-color: #2f44f5; margin-left: 70px;" ><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                        <input type="hidden" name="brandId" value="<%=brands._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                        <form action="/deleteBrandBanner3"method="post">
                            <button type="submit" class="btn btn-primary tombol" style="background-color: red; margin-left: 10px;" ></i><i class="fas fa-trash"></i> Delete</button>
                            <input type="hidden" name="brandId" value="<%=brands._id%>">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                  </div>
                </div>



            </div>
        </div>



<!-- total products -->
        <div>
            <div class="ProductJudul" style="font-family:'ModelicaBold'; font-size: 20px; position: absolute;
            top: 1250px;
            left: 210px; ">
                <h3 style="color: grey;"> PRODUCT</h3>
            </div>

            <div class="shadow-lg p-3 mb-5 bg-white rounded fotoPP" style="font-family:'ModelicaBold'; font-size: 20px; position: relative;
            top: 1300px;
            left: 210px; ">
            <span>
                <label>Total Product</label>
                <label style="color : #2F44F5; margin-left: 1140px; padding-right: 30px;" ><%=products.length%></label>
            </span>
            </div>
        </div>

        
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
<%- include('../includes/end.ejs') %>
