<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="https://kit.fontawesome.com/1f23ec8445.js" crossorigin="anonymous"></script>

</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="wrapper">
<!-- Button Admin -->
      <div class="dropdown show">
        <button type="button" class="btnAdmin btn-primary admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> Admin Name
        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="/first"><i class="fas fa-power-off"></i> Sign Out</a>

        </div>
    </div>
 <!-- Sidebar kiri -->
    <div class="sidebar">
      <img src="../images/logo.png" alt="Vricisely" class="logoApps">
      <ul>
        <li><a href="/home"><img src="../images/home.png" alt="HOME" class="homeBtn"></a></li>
      </ul>
  </div>
<!-- Nama Brand -->
        <div class="judul" style="font-family:'ModelicaRegular'; font-size: 20px; ">
            <p><%= brands.brandName%></p>
        </div>
<!-- garis -->
        <hr style="position: absolute; top: 200px; left: 200px; width: 1400px; border: black thin 2px; margin-top: 15px;">
        <br>
<!-- Product list Selector Page-->
        <div class="ProductList">
            <p style="color: #2F44F5;">Product List</p>
        </div>
        <hr style="position: absolute; top: 195px; left: 200px; width: 200px; border: #2F44F5 solid 2px; margin-top: 85px;">
<!-- garis -->
        <hr style="position: absolute; top: 200px; left: 200px; width: 1400px; border: black thin 2px; margin-top: 85px;">
        <br>
<!-- Brand Profile Selector Page-->
        <div class="BrandProfile" >
            <a href="/brandProfile/<%= brands._id%>"  ><p style="color:black;">Brand Profile</p></a>
        </div>
<!-- Add Product Button -->
        <div class="ButtonAddPro">
          <a href="/addProduct/<%= brands._id%>"><button type="button" class="btnAdd btn-primary" style=" top: 292px; font-size: 15px; "><i class="fas fa-plus-circle"></i></i> Add Product</button></a>
        </div>
<!-- Sort Dropdown button -->
        <div class="dropdown show">
            <button type="button" class="btnSort btn-primary dropdown-toggle admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" top: 292px; ">Sort
            </button>
            <div class="dropdown-menu sort">
                <a class="dropdown-item" ></i> Name</a>
                <a class="dropdown-item" ></i> Type</a>
                <a class="dropdown-item" ></i> Price</a>
            </div>
        </div>
<!-- Title table -->
        <h3 style="font-family:'ModelicaBold'; font-size: 20px; position: absolute;top: 305px;left: 240px; color: grey;" > Product Name</h3></th>
        <h3 style="font-family:'ModelicaBold'; font-size: 20px; position: absolute;top: 305px;left: 865px; color: grey" > Image</h3></th>
        <h3 style="font-family:'ModelicaBold'; font-size: 20px; position: absolute;top: 305px;left: 1030px; color: grey" > Archive</h3></th>
        
        <table class="table prodlist" style="width:1400px; border: none; position: absolute; top: 350px; left: 200px;">

            <tbody>
              <% if (products.length > 0) { %>
                <% for (let [index,product] of products.entries()) { %>
                <tr style="background-color: #f5f5f5; height: 100px;" >
                    <th scope="col"><h3 style="margin-top: 50px;top: 40px; left: 37px; font-size: 20px; font-family: 'ModelicaBold';" ><%= product.productName%></h3></th>
                    <th scope="col"><img src="/<% if (product.imagesProduct1) { %><%=product.imagesProduct1%><% }else{ %><%= 'images/noImages.jpg' %> <%}%>" alt="Card image cap" style="width: 100px; height: 100px;left: 650px; top: 0px;" ></th>
                    <th scope="col"><input type="checkbox" class="form-check-input" id="exampleCheck1"  style="margin-top: 40px;" disabled="true" ></th>
                  
                    <!--  modal edit -->
                    <th scope="col">
                    <a href="/editProduct/<%= product._id%>/<%= product.categoryId%>?edit=true" class="btn btn-primary tombol" style="left: 1130px;margin-top: 20px; top: 31px; font-size: 15px;font-family: 'ModelicaBold'; padding: 10px 30px 10px 30px;"><i class="fas fa-edit"></i>Edit</a></th>
                    

 <!-- Tombol Delete-->
                    <th scope="col">  
                      <form action="/deleteProduct"  method="post" >
                        <input type="hidden" value="<%= product._id%>" name="productId" >
                        <input type="hidden" value="<%= brands._id%>" name="brandId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">  
                      <button type="button" class="btn btn-primary tombol" data-toggle="modal" data-target="#exampleModal<%=[index]%>" style="background-color: red;font-size: 20px;margin-top: 20px; left: 1280px; top: 30px;"><i class="fas fa-trash"></i></button>
                    <!-- </form> -->
                    </th>
<!-- Modal Delete-->
                      <div class="modal fade" id="exampleModal<%=[index]%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h5 style="align-items: center; font-size: 20; font-family: 'ModelicaExtraBold' ; color: #2F44F5;" >Are you sure want to delelt this banner ?</h5>
                            </div>
                            <div class="modal-footer">
                              <button type="button" data-dismiss="modal" aria-label="Close " class="btn btn-primary tombol" style="background-color: red;">No</button>
                              <!-- <form action="/deleteProduct"  method="post" > -->
                                <!-- <input type="hidden" value="<%= product._id%>" name="productId" >
                                <input type="hidden" value="<%= brands._id%>" name="brandId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">  -->
                                <button class="btn btn-primary tombol" type="submit">Delete</button>
                              </form>
                                <!-- <a href="/profile"><button type="button" class="btn btn-primary tombol">Yes</button></a> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    
                  </tr>
                  <% } %>
                </tbody>
                <% } else { %>
                  <h1>No Brand Found</h1>
              <% } %>
            
          </table>
    </div>


    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- Java Script buat enable dan disable size input -->

<script>
    function getSelectValue(){
        var d=document.getElementById("kategori");
        var displaytext=d.options[d.selectedIndex].text;
        document.getElementById("coba").value=displaytext;

        if (displaytext === "Shirt") 
        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = true;}
            

            
        } 

        else if  (displaytext === "Long Sleve") 

        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = true;}


        }

        else if  (displaytext === "Skirt") 

        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = true;}


        }

        else if  (displaytext === "Dress") 

        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = true;}


        }


        else if  (displaytext === "Pants") 

        {
            for (i=1;i<8;i++)
            {document.getElementById("shoul"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ch"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("lh"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("sl"+i).disabled = true;}
            for (i=1;i<8;i++)
            {document.getElementById("ws"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("hp"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("th"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("fr"+i).disabled = false;}
            for (i=1;i<8;i++)
            {document.getElementById("br"+i).disabled = false;}
        }
    }
</script>    
<%- include('../includes/end.ejs') %>
