.bg{
    background: url('../images/bg.png') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}


.form-container{
    
    position: relative;
    top: 30vh;
    left: 50vh;
    background: #fff;
    padding: 60px 30px 30px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
}

@font-face {

    font-family: 'ModelicaRegular';
    src: url('/font/BwModelica-Regular.otf'); 
  }

@font-face {
  font-family: 'ModelicaBold';
  src: url('/font/BwModelica-Bold.otf'); 
 }

@font-face {
  font-family: 'ModelicaExtraBold';
  src: url('/font/BwModelica-ExtraBold.otf'); 
 }


