*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #e5e5e5;
}

.logoApps{
    width:80px;
    height:80px; 
    margin: 0px 15px 390px 13px
}

.homeBtn{
    width:45px;
    height:45px; 
    margin-left: 30px;
}


.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 110px;
    height: 100%;
    background: #f5f5f5;
    padding: 15px 0;
}

.btnAdmin {
    position: absolute;
    left: 1330px;
    top: 20px;
    color: black;
    text-decoration: none;
    background-color: #e5e5e5;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    /* border-radius: 35px; */
    cursor: pointer;
    font-family:'ModelicaBold' ; 
    font-size: 25px;
    width: 270px;
}

.btnAdmin:hover {
    background-color: #2F44F5;
  }

.btnAdmin:focus{
    background-color: #2F44F5;
}

.ProductList{
    font-family:'ModelicaExtraBold'; 
    font-size: 25px; 
    position: absolute;
    top: 230px;
    left: 210px; 
}

.BrandProfile{
    font-family:'ModelicaBold'; 
    font-size: 25px; 
    position: absolute;
    top: 230px;
    left: 460px; 
}



.dropdown-menu{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    align-content: center;
    font-size: 25px;
    border : none;
    font-family:'ModelicaRegular' ;
    color: black;
    background-color: #f5f5f5;
    /* padding: 15px 40px; */
    width: 270px;
    /* border-radius: 35px; */
    
}

.btnSort {
    position: absolute;
    left: 1190px;
    top: 270px;
    color: black;
    text-decoration: none;
    background-color: white;
    border: none;
    padding: 15px 40px;
    width: 160px;
    cursor: pointer;
    font-family:'ModelicaBold' ; 
    font-size: 15px;
}

.btnSort:hover {
    background-color: #2F44F5;
}

.btnSort:focus{
    background-color: #2F44F5;
}


.sort{
    align-content: center;
    font-size: 15px;
    border : none;
    font-family:'ModelicaRegular' ;
    color: black;
    background-color: #f5f5f5;
    padding-left: 15px;
    width: 50px;
    
    
}

.dropdown-item:hover{
    border-radius: 35px;
    background-color:  #f5f5f5;
    color: #2F44F5;
}


.tombol {
    color: white;
    background-color: #2F44F5;
    border-radius: 35px;
    cursor: pointer;
    border: none;
    font-family:'ModelicaBold' ; 
}

.tombol:hover{
    color: #2F44F5;
    background-color: white;
}

.btnAdd{
    position: absolute;
    left: 1390px;
    top: 150px;
    color: white;
    text-decoration: none;
    background-color: #2F44F5;
    border: none;
    padding: 15px 40px;
    border-radius: 35px;
    cursor: pointer;
    font-family:'ModelicaBold' ; 
    font-size: 20px;
}
.btnAdd:hover{
    
    color: #2F44F5;
    background-color: white;
}

.btnAdd:focus{
    background-color: #2F44F5;
}

.judul {
    font-size: 30px;
    font-family:'ModelicaExtraBold' ;
    position: absolute;
    top: 170px;
    left: 210px;
}


@font-face {

    font-family: 'ModelicaRegular';
    src: url('/font/BwModelica-Regular.otf'); 
  }

@font-face {
  font-family: 'ModelicaBold';
  src: url('/font/BwModelica-Bold.otf'); 
 }

@font-face {
  font-family: 'ModelicaExtraBold';
  src: url('/font/BwModelica-ExtraBold.otf'); 
 }


.brand{
    position : absolute;
    top: 260px;
    left: 160px;
    
}

.brandnya{
    border-radius: 20px;
}

.col {
    margin-left: 50px;
    margin-bottom: 50px;
    
}

.prodlist{
    position: absolute;
    top : 300px;
    left: 160px;
}

.fotoProfile{
    position: absolute;
    top: 330px;
    left: 210px;
    border-radius: 35px;
}

.fotoPP{
    border-radius: 20px;
}

.sizeBTN{
    border-color: #D8D8D8;
    width: 130px; 
    height: 130px;
    border-radius: 10px; 
    background-color: #D8D8D8;
    color:#2F44F5;
    font-family:'ModelicaBold' ;
    font-size: 48px;
    margin-left: 50px;
    padding-top: 25px;

}

.sizeBTN:hover{
    background-color: #2F44F5;
    color: white;
}

.sizeBTN:focus{
    background-color: #2F44F5;
    color: white;
}

.sizeBTN:checked{
    background-color: #2F44F5;
    color: white;
}

.ukuran{
    border-radius: 20px; 
    background-color: white; 
    border: none; 
    font-family:'ModelicaRegular' ; 
    font-size: 20px; 
    width: 130px; 
    padding-top: 40px; 
    padding-bottom: 40px;
    position: absolute;
    left: 300px; 
    

}

.modal-dialog{
    max-width: 400px;
    border-radius: 30px;
}